*{
	padding: 5;
	margin: 5;
    
}
body {
    height: 45vw;
    justify-content: center;
	align-items: center;
    background-image: linear-gradient(to top, #be3732 0%, #27a7a1 100%);
}
.calculatrice{
	background-color:#5e5e5e;
    border : solid 1px black;
	padding: 15px;
	border-radius: 15px;
    width:  23%;
	box-shadow: 0 5px black;
    height: 450px;
}
#ecran {
    width: 100%;
    height: 100px;
    background-color: rgb(235, 235, 235);
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
	font-size: 25px;
    justify-content: flex-end;
    display: flex;
    align-items: flex-end;
}
.touches{
	display: grid;
	grid-template-columns: repeat(4, 50px);
	grid-template-rows: repeat(5, 50px);
	grid-gap: 7px;
}
button{
	border: solid 1px black;
	border-radius: 5px;
	background-color: #c7c7c7;
	box-shadow: 0 3px #2b2a2a;
	font-size: 20px;
    width : 75px;
    height: 75px;
}
button:active{
	box-shadow: 0 1px #a8a8a8;
	transform: translateY(2px);
}

